.square {
    display: grid;
    place-content: center;
    width: 10vh;
    height: 10vh;
}

.white_square {
    background-color: #EEEED5;
}

.dark_square {
    background-color: #7D945D;
}

.square img {
    width: 9vh;
}